<form name="CampusDriveDetailForm" class="form-horizontal" role="form" ng-submit="CampusDriveDetailForm.$valid && vm.add_campus_drive()" novalidate>
    <fieldset ng-disabled="vm.submitInProgress">
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Company Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Company Name" name="company_name" required ng-model="vm.campusDrive.company_name">
                <div ng-show="CampusDriveDetailForm.$submitted || CampusDriveDetailForml.$touched">
                    <div ng-show="CampusDriveDetailForm.company_name.$error.required" class="text-danger">Tell us the Company Name</div>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Company Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="Company Description" name="company_description" required ng-model="vm.campusDrive.company_description"></textarea>
                <div ng-show="CampusDriveDetailForm.$submitted || CampusDriveDetailForml.$touched">
                    <div ng-show="CampusDriveDetailForm.company_description.$error.required" class="text-danger">Tell us the Company Name</div>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Drive Date</label>
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="datePicker.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Recruitment Type</label>
            <div class="col-sm-9">
                <select class="form-control" required name="recruitment_type" ng-init="vm.campusDrive.recruitment_type='pool'" ng-model="vm.campusDrive.recruitment_type">
                    <option value='pool'>Pool</option>
                    <option value='campus' selected>Campus</option>
                </select>
                <div ng-show="CampusDriveDetailForm.$submitted || CampusDriveDetailForm.$touched">
                    <div ng-show="CampusDriveDetailForm.recruitment_type.$error.required" class="text-danger">Please enter Recruitment Type</div>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Batch Year</label>
            <div class="col-sm-9">
                <select class="form-control" required name="batch_year" multiple id="repeatSelect" ng-model="vm.campusDrive.batch_year" ng-options="option for option in vm.batch_year_availableOptions track by option">
                </select>
                <div ng-show="CriteriaForm.$submitted || CampusDriveDetailForml.$touched">
                    <div ng-show="CampusDriveDetailForm.batch_year.$error.required" class="text-danger">Tell us the Batch Year</div>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Allowed Courses</label>
            <div class="col-sm-9">
                <select class="form-control" required name="course_list" multiple id="repeatSelect" ng-model="vm.campusDrive.course_list" ng-options="option for option in vm.course_list_availableOptions track by option">
                </select>
                <div ng-show="CriteriaForm.$submitted || CampusDriveDetailForm.$touched">
                    <div ng-show="CampusDriveDetailForm.course_list.$error.required" class="text-danger"> Tell us the course list</div>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="" class="col-sm-3 control-label">Criteria Type</label>
            <div class="col-sm-9">
                <select class="form-control" required name="criteria_type" ng-init="vm.campusDrive.criteria_type='none'" ng-model="vm.campusDrive.criteria_type">
                    <option value='none'>Non Criteria</option>
                    <option value='general' > General Criteria</option>
                    <option value='special' > Special Criteria</option>
                    <option value='both' > Both </option>
                </select>
                <div ng-show="CampusDriveDetailForm.$submitted || CampusDriveDetailForm.$touched">
                    <div ng-show="CampusDriveDetailForm.recruitment_type.$error.required" class="text-danger">Please enter Recruitment Type</div>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group required">
            <label for="" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <label>
                    <input type="radio" ng-model="specialCriteriaFlag.option" value="yes" ng-change="vm.getSpecialCriteriaField()">
                    Yes
                </label>
                <label>
                    <input type="radio" ng-model="specialCriteriaFlag.option" value="no" ng-change="vm.getSpecialCriteriaField()">
                    No
                </label>
            </div>
        </div>
        -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button ng-if="vm.isEditForm" type="submit" class="btn btn-success btn-md">Update</button>
                <button ng-if="!vm.isEditForm" type="submit" class="btn btn-success btn-md">Add</button>
                <button type="reset" class="btn btn-default btn-md">Reset</button>
            </div>
        </div>
    </fieldset>
</form>
