<div class="container" id="top">
    <div  class="alert alert-success" ng-show="vm.success">{{vm.success}}
        <p class="text-center">Thank You for submitting your detail. We will keep updating you about campus drive at our campus</p>
    </div>
<div ng-include='vm.alert_page'>
</div>
    
    <div class="row" ng-hide="vm.success || vm.academic_detail_not_found">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Add Your PG Detail</strong>
                </div>
                <div class="panel-body" ng-include='vm.form_page'>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='bottom'></div>
