       <div class="group btmspace-30">
        <!-- Left Column -->
        <div class="one_quarter first">
          <!-- ################################################################################################ -->
          <ul class="nospace">
            <li class="btmspace-15"><a href="#"><em class="heading">Prospective Students</em> <img class="borderedbox" src="images/demo/220x95.gif" alt=""></a></li>
            <li class="btmspace-15"><a href="#"><em class="heading">Current Students</em> <img class="borderedbox" src="images/demo/220x95.gif" alt=""></a></li>
            <li class="btmspace-15"><a href="#"><em class="heading">International Students</em> <img class="borderedbox" src="images/demo/220x95.gif" alt=""></a></li>
            <li><a href="#"><em class="heading">Alumni</em> <img class="borderedbox" src="images/demo/220x95.gif" alt=""></a></li>
          </ul>
          <!-- ################################################################################################ -->
        </div>
        <!-- / Left Column -->
        <!-- Middle Column -->
        <div class="one_half" ng-controller="NotificationController as vm">
          <!-- ################################################################################################ -->
          <h2>Latest Notification &amp; Events</h2>
          <ul class="nospace listing">
              <li class="" ng-repeat="notification in vm.notifications.slice(((currentPage-1)*vm.itemsPerPage), ((currentPage)*vm.itemsPerPage))">
                      {{ notification.description}}
              </li>
          </ul>
          <div class="alert alert-info" ng-show="vm.notifications.length==0">
                No Notifiications to show
           </div>
          <uib-pagination ng-show="vm.notifications.length>0" total-items="totalItems" items-per-page="vm.itemsPerPage" max-size="vm.maxSize" ng-model="currentPage"  boundary-links="true" num-pages="numPages"></uib-pagination>
          <!-- <p class="right"><a href="#">Click here to view all of the latest news and events &raquo;</a></p> -->
          <!-- ################################################################################################ -->
        </div>
        <!-- / Middle Column -->
        <!-- Right Column -->
        <div class="one_quarter sidebar">
          <!-- ################################################################################################ -->
          <div class="sdb_holder">
            <h6>Virtual Tour</h6>
            <div class="mediacontainer"><img src="images/demo/video.gif" alt="">
              <p><a href="#">View More Tour Videos Here</a></p>
            </div>
          </div>
          <div class="sdb_holder">
            <h6>Quick Information</h6>
            <ul class="nospace quickinfo">
              <li class="clear"><a href="#"><img src="images/demo/80x80.gif" alt=""> Make An Application</a></li>
              <li class="clear"><a href="#"><img src="images/demo/80x80.gif" alt=""> Order A Prospectus</a></li>
            </ul>
          </div>
          <!-- ################################################################################################ -->
        </div>
        <!-- / Right Column -->
      </div>
        -->
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
