<div class="alert alert-danger" ng-show="vm.students.length==0">No Student Detail Available</div>
<div class="container" id="middle" ng-show="vm.students.length>0">

    <div class="row">
        <div>
            <div class="pull-right">
                <div class="btn-group" uib-dropdown keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                        Order By <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem" ng-click="vm.sort_by='first_name'"><a href="#">First Name</a></li>
                        <li role="menuitem" ng-click="vm.sort_by='last_name'"><a href="#">Last Name</a></li>
                        <li role="menuitem" ng-click="vm.sort_by='email'"><a href="#">Email</a></li></li>
                        <li role="menuitem" ng-click="vm.sort_by='created_on'"><a href="#">Last Created</a></li></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <h4>All Student list</h4>
            <div class="table-responsive">


                <table id="studentListTable" class="table table-bordred table-striped">

                    <thead>

                        <th><input type="checkbox" id="checkall" /></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Edit</th>

                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in vm.students.slice(((currentPage-1)*vm.itemsPerPage), ((currentPage)*vm.itemsPerPage)) | orderBy:vm.sort_by" id="{{student.id}}">
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.address }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.contact }}</td>
                            <td><div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    Select Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li role="menuitem" ng-click="vm.editPersonalDetail(student)"><a href="#">Edit Personal Detail</a>
                                    <li role="menuitem" ng-click="vm.editAcademicDetail(student)"><a href="#">Edit Academic Detail</a>
                                    <li role="menuitem" ng-click="vm.editPGDetail(student)"><a href="#">Edit PG Detail</a></li>
                                </ul>
                                </div></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="vm.remove(student)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>
                    </tbody>

                </table>
                <div class="clearfix"></div>
                <uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" max-size="vm.maxSize" ng-model="currentPage"  boundary-links="true"></uib-pagination>
               <!-- <ul class="pagination pull-right">
               <!--      <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
               <!--      <li class="active"><a href="#">1</a></li>
               <!--      <li><a href="#">2</a></li>
               <!--      <li><a href="#">3</a></li>
               <!--      <li><a href="#">4</a></li>
               <!--      <li><a href="#">5</a></li>
               <!--      <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
               <!--  </ul>

            </div>

        </div>
    </div>
</div>
