<div class="container" id="academicDetailForm">
    <div  class="alert alert-success" ng-show="vm.success_msg">
        <p class="text-center">{{ vm.success_msg }}</p>
    </div>
    <div  class="alert alert-danger" ng-show="vm.error_msg">
        <p class="text-center">{{ vm.error_msg }}</p>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Add your Academic detail</strong>
                </div>
                <div class="panel-body">
                    <form name="StudentAcademicDetail" class="form-horizontal" role="form" ng-submit="StudentAcademicDetail.$valid && vm.add_academic_detail() || vm.edit()" novalidate>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Hsc Marks</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Total marks of Hsc" name="hsc_marks" required ng-model="vm.studentAcademicDetail.hsc_marks">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.hsc_marks.$error.required" class="text-danger">Tell us your Hsc Marks</div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Hsc Percentage</label>
                            <div class="col-sm-9">
                                <input type="text" name="hsc_percentage"class="form-control" placeholder="Hsc Percentage" required ng-model="vm.studentAcademicDetail.hsc_percentage">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.hsc_percentage.$error.required" class="text-danger">Tell us your Hsc Percentage</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Hsc Passout Year</label>
                            <div class="col-sm-9">
                                <input type="text" name="hsc_passout_year"class="form-control" placeholder="Hsc Passout Year" required="" ng-model="vm.studentAcademicDetail.hsc_passout_year">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.hsc_passout_year.$error.required" class="text-danger">Tell us
                                        your Hsc PassedOut Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Ssc Marks</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="ssc_marks" placeholder="Ssc Marks" required="" ng-model="vm.studentAcademicDetail.ssc_marks">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.ssc_marks.$error.required" class="text-danger">Tell us your last name</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Ssc Percentage</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="ssc_percentage" placeholder="Ssc Percentage" required="" ng-model="vm.studentAcademicDetail.ssc_percentage">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                      <div ng-show="StudentAcademicDetail.ssc_percetage.$error.required" class="text-danger">Tell us your ssc_percetage</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Ssc Passout Year</label>
                            <div class="col-sm-9">
                                <input type="text" name="ssc_passout_year"class="form-control" placeholder="Ssc Passout Year" required="" ng-model="vm.studentAcademicDetail.ssc_passout_year">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.ssc_passout_year.$error.required" class="text-danger">Tell us your Ssc PassedOut Year</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-3 control-label">UG Marks</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="ug_marks" placeholder="UG Marks" required="" ng-model="vm.studentAcademicDetail.ug_marks">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.ug_marks.$error.required" class="text-danger">Tell us your UG Marks</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">UG Percentage</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="ug_percentage" placeholder="UG Percentage" required="" ng-model="vm.studentAcademicDetail.ug_percentage">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                      <div ng-show="StudentAcademicDetail.ug_percetage.$error.required" class="text-danger">Tell us your UG Percetage</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">UG Course</label>
                            <div class="col-sm-9">
                                <select class="form-control" required name="ug_course" ng-model="vm.studentAcademicDetail.ug_course">
                                    <option value='bca'>BCA</option>
                                    <option value='bcs'>Bsc(Computer Science)</option>
                                    <option value='be'>BE</option>
                                    <option value='other'>Other</option>
                                </select>
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.ug_course.$error.required" class="text-danger">Tell us your UG Course</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">UG Passout Year</label>
                            <div class="col-sm-9">
                                <input type="text" name="ug_passout_year"class="form-control" placeholder="UG Passout Year" required="" ng-model="vm.studentAcademicDetail.ug_passout_year">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.ug_passout_year.$error.required" class="text-danger">Tell us your UG PassedOut Year</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Exprience</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="exprience" placeholder="Exprience" required="" ng-model="vm.studentAcademicDetail.exprience">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.exprience.$error.required" class="text-danger">Tell us your exprience</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Current PG Sem</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="current_pg_sem" placeholder="Current PG SEM" required="" ng-model="vm.studentAcademicDetail.current_pg_sem">
                                <div ng-show="StudentAcademicDetail.$submitted || StudentAcademicDetail.$touched">
                                    <div ng-show="StudentAcademicDetail.current_pg_sem.$error.required" class="text-danger">Tell us your current_pg_sem</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button ng-if="vm.isEditForm" type="submit" class="btn btn-success btn-md">Update</button>
                                <button ng-if="!vm.isEditForm" type="submit" class="btn btn-success btn-md">Save & Next</button>
                                <button type="reset" class="btn btn-default btn-md">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
